<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Ver2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <!--部分テンプレート_headerを読み込む-->
  <%= render 'layouts/header' %>

      <main>
        <p id="notice"><%= notice %></p>
  <!--受け取ったブロック引数を展開する-->
        <%= yield %>
      </main>
  <!--部分テンプレート_footerを読み込む-->
    <%= render 'layouts/footer' %>
  </body>
</html>
